  /*--------------
       font
   -------------- */
   @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Work+Sans:wght@500&display=swap');
  
      /* common styles and utilitise*/
      body{
        font-family: 'Work Sans', sans-serif;
        width: 1920px;
    }
           
       /* header banner */

    .header{
        background: rgba(255, 144, 14, 0.1);
    }
    .banner{
        margin: 50px 240px 45px 228px;
    }
    .banner nav{
        display: flex;
        justify-content: space-between;
    }
    nav, ul{
        display: flex;
       
        justify-content: space-between;
       }
       nav, ul, li{
        list-style: none;
        text-decoration: none;
       
       }
    .banner-text{
        text-align: center;
        margin-top: 102px;
    }
    .nav-title{
        font-weight: 700;
        font-size: 45px;
        color: #131313;
    }
    .banner-title{
        font-weight: 700;
        font-size: 64px;
        color: #131313;
       
    }
    .banner-sub-title{
        font-weight: 400;
        font-size: 16px;
        color: #727272;
    }
    .btn-explore{
        color:#ffffff;
        font-weight: 600;
        font-size: 20px;

        border:0;
        padding: 21px 25px;
        height: 64px;
        border-radius:5px;
        background: #FF900E;
        margin: 32px 0 50px 0;
    }
     .banner img{
        width: 1440px;
        height: 700px;
        margin-bottom:45px;
        
    }
        /* features section */
    .feature-article-part{
        display: flex;
        gap: 73px;
        margin: 85px 301px 130px 301px;
        align-items: center;
    }
    .images{ 
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 24px;
    }
    .section-title{
        font-weight: 800;
         font-size: 45px;
         color: #131313;
         margin-bottom: 24px;
      }  
      .features-article-title-first-part{
        font-weight: 500;
          font-size: 45px;
          color: #727272;
      }
      .features-article-title-last-part{
        color: #FF900E;
        
      }
      .features-article-content{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #727272;
        margin-bottom: 32px;
      }
      /* <!-- features-blog-section --> */
      .features-full-part{
        display: flex;
        margin: 0 240px 130px;
        gap: 146px;
      }
     .features-title{
        font-weight: 700;
        font-size: 45px;
        padding: 0 95px 0 21px;
        color: #131313;
        border-left: 5px solid #FF900E;
     }
   
     .blog{
        background: #FFFFFF;
        box-shadow: 6px 6px 50px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 30px 30px 30px 30px;
        
       
     }
     .blog-title{
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 0;
     }
     .blog-details{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #727272;
        margin: 0;
     }

      .features-image{
        width: 708px;
        padding-left: 92px;
        padding-bottom:77px ;
      }
      .experience{
        background: #FF900E;
        border-radius: 8px;
        
        color: #FFFFFF;
        position: absolute;
        text-align: center;
       padding: 48px 45px;
       left: 880px;
       top: 3106px;
       

      }
      .experience-title{ 
        font-weight: 700;
        font-size: 65px;
        margin: 0;
      }
      .e-name{
        font-weight: 500;
        font-size: 25px;
        margin: 0;
      }
           /* fact section */
     .fact-header{
        margin-left: 240px;
     }
     .fact-header-subtitleP{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #727272;
     }
                
  

     .factses{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-content: space-between;
        margin: 100px 290px 180px;
        gap: 124px;
        text-align: center;
     }
     .fact{
        border: 1px solid #FF900E;
     padding-top: 45px;  
    
       width: 241px;
       height: 241px;
     }
     .fact-number{
        font-weight: 600;
        font-size: 45px;
        color: #424242;
        margin: 9px 0 5px 0;
     }
     .fact-type{
        font-weight: 600;
        font-size: 20px;
        color: #727272;
        margin: 0;
     }

           /* sponspors-section */
           .sponspors-header{
            text-align: center;
           }
           .sponspors{
            display: flex;
           margin: 50px 240px 0;
            justify-content: space-between;
           }
           .sponspors, img{
            mix-blend-mode: luminosity;
           }

                     /* footer section */
    .footer{
        margin: 130px 240px 216px;
    }
    .footer-title{
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        color: #424242;
        background: #FFF4E7;
        border-radius: 8px;
        padding: 38px 0;

    }